section .about-self .left {
    float: left; /* .left 요소를 왼쪽으로 떠서 배치 */
    width: 50%; /* .left 요소의 너비를 부모 요소의 50%로 설정 */
}

section .about-self .left img {
    width: 100%; /* .left 안의 img 요소의 너비를 부모 요소에 맞춰 100%로 설정 */
}

section .about-self .right {
    width: 50%; /* .right 요소의 너비를 부모 요소의 50%로 설정 */
    float: left; /* .right 요소를 왼쪽으로 떠서 배치 */
    padding: 0 2rem; /* .right 요소의 좌우 패딩을 2rem로 설정, 상하는 0 */
}

section .about-self .right h3 {
    font-size: 2.25rem; /* h3의 폰트 크기를 2.25rem로 설정 */
    margin-bottom: 1rem; /* h3 요소의 하단 여백을 1rem으로 설정 */
}

section .about-self .right h3 strong {
    color: #ed4848; /* strong 요소의 텍스트 색상을 빨간색 계열로 설정 */
}

section .about-self .right p {
    font-size: 1.15rem; /* p 요소의 폰트 크기를 1.15rem로 설정 */
    margin: 1rem 0; /* p 요소의 상하 여백을 1rem으로 설정, 좌우는 0 */
}

section .about-self .right .social a {
    font-size: 2.5rem; /* a 요소의 폰트 크기를 2.5rem로 설정 */
    margin-right: 0.2rem; /* a 요소의 오른쪽 여백을 0.2rem로 설정 */
}
