section contact-me::after {
    content: ''; /* 가상 요소를 추가하여 빈 문자열을 사용, 시각적으로는 표시되지 않지만 스타일링을 위해 존재 */
    display: block; /* 가상 요소를 블록 요소로 설정하여 부모 요소의 레이아웃에 영향을 주도록 함 */
    clear: both; /* float 속성이 적용된 자식 요소들이 부모 요소의 높이에 제대로 포함되지 않는 문제를 해결하기 위해 사용 */
}

section .contact-me .left {
    width: 30%; /* 왼쪽 섹션의 너비를 부모 요소의 30%로 설정하여 레이아웃을 분할 */
    float: left; /* 왼쪽 섹션을 왼쪽으로 떠서 배치 */
}

section .contact-me .left .card {
    border: 1px solid #ccc; /* 카드 요소에 회색(#ccc) 테두리를 추가하여 구분선을 표시 */
    padding: 1rem; /* 카드 내부에 상하좌우 1rem의 여백을 추가하여 내용과 테두리 간격을 확보 */
    display: flex; /* 플렉스 박스 레이아웃을 적용하여 자식 요소들을 수평 정렬 */
    align-items: center; /* 자식 요소들을 세로 방향으로 중앙 정렬 */
    margin-bottom: 1.25rem; /* 카드 하단에 1.25rem의 여백을 추가하여 다음 요소와 간격을 둠 */
}

section .contact-me .left .card .icon i {
    font-size: 2rem; /* 아이콘의 크기를 2rem으로 설정 */
    margin-right: 15px; /* 아이콘과 텍스트 사이에 15px의 여백을 추가 */
}

section .contact-me .right {
    width: 65%; /* 오른쪽 섹션의 너비를 부모 요소의 65%로 설정 */
    float: left; /* 오른쪽 섹션을 왼쪽으로 떠서 배치 */
    margin-left: 5%; /* 왼쪽 섹션과의 간격을 5%로 설정 */
}

section .contact-me .right .form-group {
    margin-bottom: 1.25rem; /* 폼 그룹 요소들 사이에 1.25rem의 여백을 추가 */
}

section .contact-me .right .form-group label {
    display: block; /* 라벨을 블록 요소로 설정하여 폼 컨트롤과 독립된 줄에 배치 */
    margin-bottom: 0.85rem; /* 라벨과 입력 요소 사이에 0.85rem의 여백을 추가 */
}

section .contact-me .right .form-group input {
    width: 100%; /* 입력 필드의 너비를 부모 요소의 100%로 설정 */
    padding: 0.625rem; /* 입력 필드에 상하좌우 0.625rem의 여백을 추가하여 내용과 테두리 간격을 확보 */
    outline: none; /* 입력 필드에 포커스가 있을 때 기본적인 외곽선 표시를 제거 */
    border: 1px solid #ccc; /* 입력 필드의 테두리를 회색(#ccc)으로 설정 */
    border-radius: 10px; /* 입력 필드의 모서리를 10px 반경으로 둥글게 설정 */
}

section .contact-me .right .form-group input:focus,
section .contact-me .right .form-group textarea:focus {
    border: 1px solid #719ece; /* 입력 또는 텍스트 영역에 포커스가 있을 때 테두리를 파란색(#719ece)으로 변경 */
    box-shadow: 0 0 10px #719ece; /* 포커스가 있을 때 주변에 파란색 그림자를 추가하여 강조 */
}

section .contact-me .right .form-group textarea {
    width: 100%; /* 텍스트 영역의 너비를 부모 요소의 100%로 설정 */
    height: 300px; /* 텍스트 영역의 높이를 300px로 설정 */
    outline: none; /* 포커스 시 기본 외곽선 표시를 제거 */
    resize: none; /* 사용자가 텍스트 영역의 크기를 변경할 수 없도록 설정 */
    border: 1px solid #ccc; /* 텍스트 영역의 테두리를 회색(#ccc)으로 설정 */
    border-radius: 10px; /* 텍스트 영역의 모서리를 10px 반경으로 둥글게 설정 */
}

section .contact-me .right button {
    width: 100%; /* 버튼의 너비를 부모 요소의 100%로 설정 */
    padding: 1rem; /* 버튼에 상하좌우 1rem의 여백을 추가하여 내용과 외곽선 간격을 확보 */
    background-color: #f78b00; /* 버튼의 배경색을 주황색(#f78b00)으로 설정 */
    border: none; /* 버튼의 기본 테두리를 제거 */
    color: white; /* 버튼 텍스트 색상을 흰색으로 설정 */
}
